<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cscb_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSCB_Project">

        <activity
            android:name=".EditStoreNamePage"
            android:exported="false"
            android:label="@string/label_editStore"
            android:launchMode="singleTop"
            android:parentActivityName=".StoreOwnerPage">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".StoreOwnerPage" />
        </activity>

        <activity
            android:name=".ShoppingStore"
            android:exported="false"
            android:label="@string/label_shop"
            android:launchMode="singleTop"
            android:parentActivityName=".StoreList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StoreList" />
            />
        </activity>

        <activity
            android:name=".OwnerProductPage"
            android:exported="false"
            android:label="@string/label_ownerProducts"
            android:launchMode="singleTop"
            android:parentActivityName=".StoreOwnerPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StoreOwnerPage" />
        </activity>

        <activity
            android:name=".OwnerOrdersPage"
            android:exported="false"
            android:label="@string/label_ownerOrders"
            android:launchMode="singleTop"
            android:parentActivityName=".StoreOwnerPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StoreOwnerPage" />
        </activity>

        <activity
            android:name=".CreateProductPage"
            android:exported="false"
            android:label="@string/label_createProduct"
            android:launchMode="singleTop"
            android:parentActivityName=".StoreOwnerPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StoreOwnerPage" />
        </activity>

        <activity
            android:name=".CustomerOrderPage"
            android:exported="false"
            android:label="@string/label_orderList"
            android:launchMode="singleTop"
            android:parentActivityName=".CustomerPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CustomerPage" />
        </activity>

        <activity
            android:name=".OrderDetail"
            android:exported="false"
            android:label="@string/label_orderDetails"
            android:launchMode="singleTop"
            android:parentActivityName=".OwnerOrdersPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OwnerOrdersPage" />
        </activity>

        <activity
            android:name=".StoreList"
            android:exported="false"
            android:label="@string/label_storeList"
            android:launchMode="singleTop"
            android:parentActivityName=".CustomerPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CustomerPage" />
        </activity>

        <activity
            android:name=".CustomerPage"
            android:exported="false"
            android:launchMode="singleTop"
            android:label="@string/label_home" />

        <activity
            android:name=".StoreOwnerPage"
            android:exported="false"
            android:launchMode="singleTop"
            android:label="@string/label_home" />

        <activity
            android:name=".SignUpPage"
            android:exported="false"
            android:label="@string/label_signup"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".LoginPage"
            android:exported="false"
            android:label="@string/label_login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>